<ion-view title="placesPorked">
    <ion-content>

        <div>
            <div id="map" lat="38.654273" lng="-90.549944" zoom="8" map>

            </div>

            <div width="80%" class="list list-inset" style="margin-left:10%;margin-right:10%;">
              <label class="item item-input">
                <input type="text" ng-model="user.desc" placeholder="Description">
              </label>

                <button class="button button-full button-porked" ng-click="saveDetails()">
                    Save
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
